<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./hero.css">
</head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<body>
    
</body>
</html>
<!-- <div class="hero-section">
    <h2>INTRODUCING POSH</h2>   
    <h1>Create <span ></span> Websites</h1>
    <p>Anything You Can Design, You Can Design Better</p>
</div>  -->
<section class="hero-section">
    <h2>{{ Header() }}</h2>
    <h1>{{ Text() }}</h1>
    <p>{{ Info() }}</p> 
</section>

  <div class="buttonS">
    <button (click)="onExploreClick()">Explore demos</button>

    <p>
      or <a href="#">Purchase POSH →</a>
    </p>
  </div>

  <div class="image-container">
    <img [src]="imgUrl" alt="Hero Banner" height="50px" width="10%"/> 
  </div>
